


// Button Contact

@keyframes phone-vr-circle-fill {
    0%, 100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }

    2.5% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    }

    5% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    }

    7.5% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    }

    10% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    }

    12.5% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }

    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
}

@keyframes zoom {
    0% {
        transform: scale(.9)
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 8px transparent
    }

    100% {
        transform: scale(.9);
        box-shadow: 0 0 0 0 transparent
    }
}