
// Markdown

.prose {
    color: #333 !important;
}

// Hashtag

.dev-tag-blog-0:hover {
    border-color: #562765; 
    color: #562765; 
    background-color: #55276520;
}
.dev-tag-blog-1:hover {
    border-color: #234A84; 
    color: #234A84; 
    background-color: #234a841a;
}
.dev-tag-blog-2:hover {
    border-color: #e3ca0c; 
    color: #e3ca0c; 
    background-color: #e3ca0c1b;
}

// Button Contact

@keyframes phone-vr-circle-fill {
    0%, 100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }

    2.5% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    }

    5% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    }

    7.5% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    }

    10% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    }

    12.5% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }

    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
}

@keyframes zoom {
    0% {
        transform: scale(.9)
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 8px transparent
    }

    100% {
        transform: scale(.9);
        box-shadow: 0 0 0 0 transparent
    }
}