
.input-info {
    border-color: rgb(156 163 175 / var(--tw-border-opacity));
    padding: 8px 12px;
    // margin-bottom: 16px;
    outline: none;
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 4px;
    transition: all 100ms;

    &:focus {
        border: 1px solid #2684FF;
        box-shadow: 0 0 0 1px #2684FF;
    }
}

// Markdown

.prose {
    color: #222 !important;

    blockquote {
        color: #666;
        padding-right: 10px;
        background-color: #eee;
    }
    

    & :where(ul > li):not(:where([class~="not-prose"] *))::marker {
        color: #222;
    }
}

// Hashtag

* {
    --tag-color-0: #c30c40;
    --tag-color-1: #234A84;
    --tag-color-2: #e3ca0c;
}

.dev-tag-blog-0:hover {
    border-color: var(--tag-color-0); 
    color: var(--tag-color-0); 
    background-color: #55276520;
}
.dev-tag-blog-1:hover {
    border-color: var(--tag-color-1); 
    color: var(--tag-color-1); 
    background-color: #234a841a;
}
.dev-tag-blog-2:hover {
    border-color: var(--tag-color-2); 
    color: var(--tag-color-2); 
    background-color: #e3ca0c1b;
}

// Button Contact

@keyframes phone-vr-circle-fill {
    0%, 100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }

    2.5% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    }

    5% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    }

    7.5% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    }

    10% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    }

    12.5% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }

    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
}

@keyframes zoom {
    0% {
        transform: scale(.9)
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 8px transparent
    }

    100% {
        transform: scale(.9);
        box-shadow: 0 0 0 0 transparent
    }
}